@model FINMUE.Models.Casa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Casa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetrosCuadrados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetrosCuadrados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InmuebleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CasaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
