@model FINMUE.Models.Recibo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recibo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorUnicoRecibo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorUnicoRecibo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concepto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoAgua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoAgua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoElectricidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoElectricidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoGas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InmuebleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
